<p-fluid>
    <div class="flex flex-col gap-8">
        <div class="card flex flex-col gap-4">
            <div class="flex items-center justify-between">
                <div>
                    <div class="font-semibold text-xl">Gestion des absences</div>
                </div>

                <p-button
                    label="Actualiser"
                    icon="pi pi-refresh"
                    severity="secondary"
                    (onClick)="refreshAbsences()"
                ></p-button>
            </div>

            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 md:col-span-4 flex flex-col gap-2">
                    <label for="student">Étudiant *</label>

                    <p-select
                        id="student"
                        name="student"
                        [(ngModel)]="absence.student"
                        [options]="students"
                        optionLabel="studentIdentifier"
                        placeholder="Choisir un étudiant"
                        class="w-full"
                        appendTo="body"
                    >
                        <ng-template pTemplate="item" let-student>
                            {{ student.firstName }} {{ student.lastName }} - {{ student.studentIdentifier }}
                        </ng-template>

                        <ng-template pTemplate="selectedItem" let-student>
                            {{ student?.firstName }} {{ student?.lastName }}
                        </ng-template>
                    </p-select>
                </div>

                <div class="col-span-12 md:col-span-4 flex flex-col gap-2">
                    <label for="matiere">Matière *</label>

                    <p-select
                        id="matiere"
                        name="matiere"
                        [(ngModel)]="absence.matiere"
                        [options]="matieres"
                        optionLabel="nom"
                        placeholder="Choisir une matière"
                        class="w-full"
                        appendTo="body"
                    ></p-select>
                </div>

                <div class="col-span-12 md:col-span-4 flex flex-col gap-2">
                    <label for="dateAbsence">Date d'absence *</label>

                    <input
                        pInputText
                        id="dateAbsence"
                        type="date"
                        name="dateAbsence"
                        [(ngModel)]="absence.dateAbsence"
                    />
                </div>

                <div class="col-span-12 md:col-span-4 flex items-center gap-2 mt-4">
                    <p-checkbox
                        name="justifiee"
                        [(ngModel)]="absence.justifiee"
                        [binary]="true"
                        inputId="justifiee"
                    ></p-checkbox>

                    <label for="justifiee">Absence justifiée</label>
                </div>

                <div class="col-span-12 md:col-span-8 flex flex-col gap-2">
                    <label for="motif">Motif</label>

                    <textarea
                        pTextarea
                        id="motif"
                        rows="1"
                        name="motif"
                        [(ngModel)]="absence.motif"
                        placeholder="Ex: Maladie, problème familial..."
                    ></textarea>
                </div>
            </div>

            <div class="flex justify-end gap-2">
                <p-button
                    label="Annuler"
                    icon="pi pi-times"
                    severity="secondary"
                    (onClick)="resetForm()"
                ></p-button>

                <p-button
                    [label]="editMode ? 'Modifier' : 'Ajouter'"
                    [icon]="editMode ? 'pi pi-pencil' : 'pi pi-plus'"
                    (onClick)="saveAbsence()"
                ></p-button>
            </div>
        </div>

        <div class="card">
            <div class="font-semibold text-xl mb-4">Liste des absences</div>

            <p-table
                [value]="absences"
                [paginator]="true"
                [rows]="5"
                [tableStyle]="{ 'min-width': '70rem' }"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Étudiant</th>
                        <th>Matière</th>
                        <th>Date</th>
                        <th>Justifiée</th>
                        <th>Motif</th>
                        <th style="width: 180px">Actions</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-a>
                    <tr>
                        <td>{{ a.id }}</td>
                        <td>{{ a.student?.firstName }} {{ a.student?.lastName }}</td>
                        <td>{{ a.matiere?.nom }}</td>
                        <td>{{ a.dateAbsence }}</td>
                        <td>
                            <p-tag
                                [value]="a.justifiee ? 'Oui' : 'Non'"
                                [severity]="a.justifiee ? 'success' : 'danger'"
                            ></p-tag>
                        </td>
                        <td>{{ a.motif }}</td>
                        <td>
                            <div class="flex gap-2">
                                <p-button
                                    icon="pi pi-pencil"
                                    severity="info"
                                    [rounded]="true"
                                    [text]="true"
                                    (onClick)="editAbsence(a)"
                                ></p-button>

                                <p-button
                                    icon="pi pi-trash"
                                    severity="danger"
                                    [rounded]="true"
                                    [text]="true"
                                    (onClick)="deleteAbsence(a.id!)"
                                ></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7" class="text-center">
                            Aucune absence trouvée.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-fluid>